@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="nav-menu @(CollapseNavMenu ? "collapsed" : "")">
    <div class="user-profile">
        <img src="/images/vector.svg" alt="User Profile" class="profile-icon" />
        <span class="profile-name @(CollapseNavMenu ? "collapsed" : "")">Imie Nazwisko</span>
    </div>
    <div class="container-project">
        <a href="#" class="nav-itema" @onclick="ToggleProjectsDropdown">
            <img src="/images/roww.svg" alt="Projects" class="nav-icona @(CollapseNavMenu ? "collapsed" : "")" />
            <span class="nav-text @(CollapseNavMenu ? "collapsed" : "")">Moje projekty</span>
            <i class="fas fa-caret-down dropdown-icon @(projectsDropdownOpen ? "collapsed" : "")"></i>
        </a>
        <div class="nav-dropdown @(projectsDropdownOpen ? "" : "collapsed")">
            @foreach (var project in projects)
            {
                <div class="projekt"> 
                   <a href=@project.Href class="nav-dropdown-item">@project.Name</a>
                </div>
            }
        </div>
    </div>
    <ul class="nav-items bottom-items">
        <li><a @onclick="@(e => NavigateTo("/employees"))" class="nav-item"><img src="/images/uzytkownik.svg" alt="Employees" class="nav-icon" /><span class="nav-text @(CollapseNavMenu ? "collapsed" : "")">Pracownicy</span></a></li>
        <li><a @onclick="@(e => NavigateTo("/time"))" class="nav-item"><img src="/images/zegar.svg" alt="Time" class="nav-icon" /><span class="nav-text @(CollapseNavMenu ? "collapsed" : "")">Czas</span></a></li>
        <li><a @onclick="@(e => NavigateTo("/reports"))" class="nav-item"><img src="/images/raport.svg" alt="Reports" class="nav-icon" /><span class="nav-text @(CollapseNavMenu ? "collapsed" : "")">Raporty</span></a></li>
        <li><a @onclick="@(e => NavigateTo("/calendar"))" class="nav-item"><img src="/images/kalendarz.svg" alt="Calendar" class="nav-icon" /><span class="nav-text @(CollapseNavMenu ? "collapsed" : "")">Kalendarz</span></a></li>

    </ul>
</div>

@code {
    private bool projectsDropdownOpen = false;
    private List<ProjectItem> projects = new List<ProjectItem>
    {
        new ProjectItem { Name = "Projekt 1", Href = "/project1" },
        new ProjectItem { Name = "Projekt 2", Href = "/project2" },
        new ProjectItem { Name = "Projekt 3", Href = "/project3" },
        new ProjectItem { Name = "Projekt 4", Href = "/project4" },
    };
    private void NavigateTo(string url)
    {
        NavigationManager.NavigateTo(url);
    }
    [Parameter]
    public bool CollapseNavMenu { get; set; }
    
    private void ToggleProjectsDropdown()
    {
        projectsDropdownOpen = !projectsDropdownOpen;
    }
    
    public class ProjectItem
    {
        public string Name { get; set; }
        public string Href { get; set; }
    }
}